*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
  
/* background: #6a11cb;
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
  }
  .hr{
    width: 490px;
    height: 1px;
    background-color: rgb(31, 31, 31);
    
  }
  .card{
    width: 490px;
  }
  .valid{
    text-align: left;
  }
 @media(max-width:500px){
    .card{
      width: 350px;
    }
    .hr{
      width: 350px;
    }
 }